:root {
  /* Radius */
  --radius-full: 9999px;
  --radius-large: .8125rem;
  --radius-medium: .3125rem;
  --radius-none: 0;
  --radius-small: .125rem;

  /* Spacing */
  --spacer-0: 0;
  --spacer-1: .25rem;
  --spacer-2: .5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 2rem;
  --spacer-6: 2.5rem;
}
